*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
    width: 100%;
    min-height: 100vh;
    place-items: center;
}

header {
    grid-area: header;
    width: 100%;
    min-height: 2em;
    padding: 0.75em;
    background-color: rgb(17, 17, 17);
    box-shadow: 0 10px 5px rgb(1, 173, 173);
    border-radius: 0 0 3em 3em;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
}

button {
    outline: none;
}

.logoImg {
    position: relative;
    width: 10ch;
    padding: 0.5em;
}

.wordselect {
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: center;
    perspective: 1000px;
}

.buttonstyle {
    position: relative;
    padding: 0.75em;
    border-radius: 0.75em;
    text-align: center;
    box-shadow: 
        -2px -2px 5px rgb(0, 208, 223),
        2px 2px 5px slategrey;
    cursor: pointer;
}

.buttonstyle.wordbutton {
    width: max-content;
    transition: .15s ease-in-out;
    border: 0.25em solid darkslategray;
}

.spinoutline {
    position: relative;
    width: 20ch;
    height: 3em;
    border-radius: 0.75em;
    border: 0.25em solid darkslategray;
}

.buttonstyle.insultbutton {
    position: absolute;
    width: 102%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: rgb(214, 214, 214);
    box-shadow: 
        -3px -3px 5px rgb(0, 208, 223),
        4px 12px 15px black;
    transition: 75ms ease-in-out;
    cursor: pointer;
}

.buttonstyle.insultbutton:hover {
    background-color: white;
}

.buttonstyle.insultbutton:active {
    transform: translate(-50%, -50%);
    box-shadow: none;
}

.insult {
    display: inline-block;
    min-height: 1.75em;
    width: min-content;
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 1.4rem + 1.7500000000000002vw, 3.5rem);
    text-shadow: -2px 2px 5px white;
    border-bottom: 5px solid rgb(0, 208, 223);
    text-align: center;
}

@media only screen and (min-width: 25em) {
    .insult {
        width: max-content;
    }

    .buttonstyle.wordbutton {
        width: 12ch;
        transform-style: preserve-3d;
        transform: translateY(-30px) rotateX(90deg);
        transition: .25s ease-in-out;
        border: 0.25em solid darkslategray;
    }
    
    .buttonstyle.wordbutton::after {
        content: "Spin Part";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: -8px;
        border-radius: 0.75em;
        background-color: black;
        color: white;
        border: 0.25em solid darkslategray;
        box-shadow: 
            -2px -2px 5px rgb(0, 208, 223),
            2px 2px 5px slategrey;
    }
    
    .buttonstyle.wordbutton::after {
        transform: rotateX(-90deg) translateZ(25px) translateY(25px);
    }
    
    .buttonstyle.wordbutton:hover {
        transform: rotateX(0deg);
    }
    
    .buttonstyle.wordbutton:hover::after {
        inset: 0;
    }
    
    .buttonstyle.wordbutton:hover:active {
        background-color: grey;
    }

}